---
layout: default
---
<div class="ui vertical masthead center aligned segment" style="border:none;">
    {% include mountain_svg.html %}
    <div id="target">
        <img id="skier" src="/images/skier-spray.png">
    </div>
    <div class="ui text container">
        <h1 class="ui header">
       John Wallace
      </h1>
        <h2>Powder Junky & Web Developer</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem rerum, veniam est impedit placeat provident! Ea ab quos dolores illum, numquam nostrum blanditiis, vel nobis deleniti impedit recusandae, quibusdam optio.</p>
    </div>
</div>
<section class="section">
    {% include trees_svg.html %}
</section>
<div class="ui container">
    <h3>Selected Work</h3>
    <div class="ui four doubling link cards">
        <div class="card">
            <div class="image">
                <img src="/images/skinsandseeds.png">
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="/images/magnetic-poetry.png">
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="/images/bumblebean-home.png">
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="/images/appneta.png">
            </div>
        </div>
    </div>
</div>