---
layout: default
---
<div class="ui vertical masthead center aligned segment" style="border:none;">
    {% include mountain_svg.html %}
    <div id="snow"></div>
    <div id="target">
        <img id="skier" src="/images/skier-spray.png">
    </div>
    <div class="ui text container">
        <h1 class="ui header">
       John Wallace
      </h1>
        <h2>Powder Hound & Web Desiloper</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem rerum, veniam est impedit placeat provident! Ea ab quos dolores illum, numquam nostrum blanditiis, vel nobis deleniti impedit recusandae, quibusdam optio.</p>
    </div>
</div>
<section class="section">
    {% include trees_svg.html %}
</section>
<div class="ui container">
    <h3 id="projects-section">Latest Projects</h3>
    <div class="ui three doubling link cards">
        <div class="ui card">
            <a class="image" href="#" id="appneta-modal-trigger">
                <img src="/images/appneta/appneta-featured-image.png">
            </a>
            <div class="content">
                <p class="header">AppNeta</p>
                <div class="meta">
                    <p>Development, Design</p>
                </div>
            </div>
        </div>
        <div class="ui card">
            <a class="image" href="#" id="bumblebean-modal-trigger">
                <img src="/images/bumblebean/homepage.png">
            </a>
            <div class="content">
                <p class="header">Bumblebean</p>
                <div class="meta">
                    <p>Development, Design</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="forest-bg">
    <section class="section ui container">
        <h3 class="ui horizontal divider header homepage">Latest From The Blog</h3>
        <section id="cd-timeline">
            {% for post in site.posts limit:5 %}
            <div class="cd-timeline-block">
                <div class="cd-timeline-content">
                    <a href="{{ post.url }}">
                        <img class="blogroll-fetaure-image" src="{{ post.featured-image }}" />
                    </a>
                    <h2><a href="{{ post.url }}" class="header">{{ post.title }}</a></h2>
                    <p>{{ post.description}}</p>
                    <span class="cd-date"><a href="{{ post.url}}">{{ post.date | date: "%b %-d, %Y" }}</a></span>
                </div>
                <!-- cd-timeline-content -->
            </div>
            {% endfor %}
        </section>
    </section>
</div>
{% include portfolio-modals.html %}

