---
layout: default
---
<div class="ui vertical masthead center aligned segment" style="border:none;">
    {% include mountain_svg.html %}
    <div id="snow"></div>
    <div id="target">
        <img id="skier" src="/images/skier-spray.png" style="position:relative; top -50px;">
    </div>
    <div class="ui text container" id="start">
        <h1 class="ui header" id="heading">
       John Wallace
      </h1>
        <h2 id="subheading">Powder Hound & Web Developer</h2>
    </div>
</div>
<section class="section" id="trees-start">
    {% include trees_svg.html %}
</section>
<div class="ui container">
    <h3 id="projects-section">Latest Projects</h3>
    <div class="ui four doubling link cards">
        <div class="ui card">
            <a class="image" id="appneta-modal-trigger">
                <img src="/images/appneta/apm-devops.jpg">
            </a>
            <div class="content">
                <p class="header">AppNeta</p>
                <div class="meta">
                    <p>Development, Design</p>
                </div>
            </div>
        </div>
        <div class="ui card">
            <a class="image" id="bumblebean-modal-trigger">
                <img src="/images/bumblebean/homepage.png">
            </a>
            <div class="content">
                <p class="header">Bumblebean</p>
                <div class="meta">
                    <p>Development, Design</p>
                </div>
            </div>
        </div>
          <div class="ui card">
            <a class="image" id="yogi-jerz-modal-trigger">
                <img src="/images/yogi-jerzbg.png">
            </a>
            <div class="content">
                <p class="header">Yogi Jerz</p>
                <div class="meta">
                    <p>Development, Design</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="forest-bg">
    <section class="section ui container">
        <h3 class="ui horizontal divider header homepage">Latest From The Blog</h3>
        <section id="cd-timeline">
            {% for post in site.posts limit:5 %}
            <div class="cd-timeline-block">
                <div class="cd-timeline-content">
                    <a href="{{ post.url }}">
                        <img class="ui medium image" src="{{ post.thumbnail-image }}" />
                    </a>
                      <div class="title">
                    <h3 class="ui header"><a href="{{ post.url }}" class="header">{{ post.title }}</a></h3>
                    <p>{{ post.description}}</p>
                    <span class="cd-date"><a href="{{ post.url}}"><h6 class="ui header">{{ post.date | date: "%b %-d, %Y" }}</h6></a></span>
                </div>
                </div>
            </div>
            {% endfor %}
        </section>
    </section>
</div>
{% include portfolio-modals.html %}
