<header class="site-header">
    <div class="ui fixed borderless menu">
        <div class="ui container">
            <a href="/" class="header item">
                <img src="/images/logo_new.png" />
            </a>
            <a class="item" href="/#projects-section">Projects</a>
            <a class="item" href="/blog/">Blog</a>
    
            <h4 class="ui header post-title-scrolled" style="margin: auto; padding:10px;">
                <div class="content" style="font-size: 1.4vw;">
                    {{ page.title }}
                    <div class="sub header" style="display:inline-block;position: relative;left: 1.6vw;">{{ page.date | date: "%b %-d, %Y" }}</div>
                </div>
            </h4>
     
            <div class="right item">
                <div class="ui animated fade teal button" id="contact-trigger" tabindex="0">
                    <div class="visible content">Contact Me</div>
                    <div class="hidden content">
                        Don't Be Shy
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<script type="text/javascript">
jQuery(function($) {

    var $nav = $('.post-title-scrolled');
    var $win = $(window);
    var winH = $win.height(); // Get the window height.

    $win.on("scroll", function () {
        if ($(this).scrollTop() > winH ) {
            $nav.addClass("visible");
        } else {
            $nav.removeClass("visible");
        }
    }).on("resize", function(){ // If the user resizes the window
       winH = $(this).height(); // you'll need the new height value
    });

});

</script>