<header class="site-header">
    <div class="ui fixed menu">
        <div class="ui container">
            <a href="/" class="header item">
                <img src="/images/logo_new.png" />
            </a>
            <a class="item" href="/#projects-section">Projects</a>
            <a class="item" href="/blog/">Blog</a>
            <div class="right item">
                <div class="ui animated fade teal button" id="contact-trigger" tabindex="0">
                    <div class="visible content">Contact Me</div>
                    <div class="hidden content">
                        Don't Be Shy
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
