<!-- appneta modal -->
<div class="ui fullscreen modal" id="appneta-modal">
    <i class="close icon"></i>
    <div class="image content">
        <div class="ui five column grid">
            <div class="column">
                <div class="ui massive image">
                    <img src="/images/appneta/apm-it.jpg">
                </div>
            </div>
            <div class="column">
                <div class="ui massive image">
                    <img src="/images/appneta/about.jpg">
                </div>
            </div>
            <div class="column">
                <div class="ui massive image">
                    <img src="/images/appneta/careers-page.jpg">
                </div>
            </div>
            <div class="column">
                <div class="ui massive image">
                    <img src="/images/appneta/homepage.jpg">
                </div>
            </div>
            <div class="column">
                <div class="description">
                    <div class="ui header">AppNeta</div>
                    <p>Design and Development</p>
                    <a href="http://www.appneta.com" target="_blank">Visit Site</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end appneta modal -->
    <!-- bumblebean modal -->
    <div class="ui fullscreen modal" id="bumblebean-modal">
        <i class="close icon"></i>
        <div class="image content">
            <div class="ui four column grid">
                <div class="column">
                    <div class="ui massive image">
                        <img src="/images/bumblebean/filters.jpg">
                    </div>
                </div>
                <div class="column">
                    <div class="ui massive image">
                        <img src="/images/bumblebean/product-detail.jpg">
                    </div>
                </div>
                <div class="column">
                    <div class="ui massive image">
                        <img src="/images/bumblebean/homepage.jpg">
                    </div>
                </div>
                <div class="column">
                    <div class="description">
                        <div class="ui header">Bumblebean</div>
                        <p>Design and Development</p>
                        <a href="http://www.bumblebean.com" target="_blank">Visit Site</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end bumblebean modal -->
    <!-- yogi-jerz modal -->
    <div class="ui fullscreen modal" id="yogi-jerz-modal">
        <i class="close icon"></i>
        <div class="image content">
            <div class="ui three column grid">
                <div class="column">
                    <div class="ui massive image">
                        <img src="/images/yogi-jerz-full.jpg">
                    </div>
                </div>
                <div class="column">
                    <div class="ui massive image">
                        <img src="/images/yogi-jerz-blog.jpg">
                    </div>
                </div>
                <div class="column">
                    <div class="description">
                        <div class="ui header">Yogi Jerz</div>
                        <p>Design and Development</p>
                        <a href="http://yogi-jerz.github.io/" target="_blank">Visit Site</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end yogi-jerz modal -->
    <script>
    $(document).ready(function() {
        $('#appneta-modal-trigger').on('click', function() {
            $('#appneta-modal').modal('show');
        });
        $('#bumblebean-modal-trigger').on('click', function() {
            $('#bumblebean-modal').modal('show');
        });
        $('#yogi-jerz-modal-trigger').on('click', function() {
            $('#yogi-jerz-modal').modal('show');
        });
    });
    </script>
