    section.section {
        padding: 8rem 0px;
    }
    
    section.article-section {
        padding-bottom: 4rem;
    }
    
    .gradient {
        background: #00d2ff;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #00d2ff, #3a7bd5);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #00d2ff, #3a7bd5);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    section.subsection {
        padding-top: 30px 0px;
    }
    
    .masthead.segment {
        min-height: 700px;
        padding: 1em 0em;
    }
    
    .masthead .logo.item img {
        margin-right: 1em;
    }
    
    .masthead .ui.menu .ui.button {
        margin-left: 0.5em;
    }
    
    .slideIn {
        opacity: 1;
        transition: all .3s ease;
    }
    
    .slideOut {
        opacity: 0;
        transition: all .3s ease;
    }
    
    .site-header .ui.menu {
        box-shadow: none!important;
    }
    
    .blog-items .ui.cards>.card {
        box-shadow: none!important;
    }
    
    .masthead h1.ui.header {
        margin-top: 1.1em;
        margin-bottom: 0em;
        font-size: 7em;
        font-weight: 900;
        color: #454553;
        @media (min-width: 1890px) {
            margin-top: 0em;
        }
    }
    
    .masthead h2 {
        font-size: 2.5rem;
        font-weight: 100;
        font-weight: 800;
        color: #D8E9F0;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: -26px;
    }
    
    .ui.vertical.stripe {
        padding: 8em 0em;
    }
    
    .ui.vertical.stripe h3 {
        font-size: 2em;
        color: #454553;
    }
    
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
        margin-top: 3em;
    }
    
    .ui.vertical.stripe .floated.image {
        clear: both;
    }
    
    .ui.vertical.stripe p {
        font-size: 1.33em;
    }
    
    .ui.vertical.stripe .horizontal.divider {
        margin: 3em 0em;
    }
    
    .quote.stripe.segment {
        padding: 0em;
    }
    
    .quote.stripe.segment .grid .column {
        padding-top: 5em;
        padding-bottom: 5em;
    }
    
    .footer.segment {
        padding: 5em 0em;
    }
    
    .secondary.pointing.menu .toc.item {
        display: none;
    }
    
    @media only screen and (max-width: 700px) {
        .secondary.pointing.menu .toc.item {
            display: block;
        }
        .masthead.segment {
            min-height: 350px;
        }
        .masthead h1.ui.header {
            font-size: 2em;
            margin-top: 1.5em;
        }
        .masthead h2 {
            margin-top: 0.5em;
            font-size: 1.5em;
        }
    }
    
    #target {
        position: relative;
        top: -41.5vh;
        margin-bottom: -65vh;
        @media (max-width: 1180px) {
            display: none;
        }
        img {
            width: 28px;
        }
    }
    
    .post-title {
        position: relative;
        // padding: 10%;
        // background: rgb(0, 181, 173);
        // box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        // height: 100vh;
    }
    
    .post-title h1.header {
        color: #ffffff;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        font-size: 2.6rem;
        margin-top: 39vh;
        text-transform: capitalize;
        text-align: center;
        @media (max-width: 980px) {
            font-size: 3rem
        }
        @media (max-width: 680px) {
            font-size: 2rem;
        }
    }
    
    .light {
        color: #fff!important;
    }
    
    .subheader {
        color: #ffffff;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        font-size: 1rem;
        font-weight: 100;
        margin-top: 1.6rem;
        text-align: center;
        @media (max-width: 980px) {
            font-size: 3rem
        }
        @media (max-width: 680px) {
            font-size: 2rem;
            margin-top: 4rem;
        }
        &.date {
            font-style: oblique;
            font-size: 1.3rem;
            text-transform: uppercase;
        }
    }
    
    .ui.segment {
        border: none!important;
    }
    
    .ui.horizontal.divider.homepage {
        line-height: 5;
        color: #454553;
    }
    
    .author-image {
        border-radius: 50%;
        padding: 10px;
        width: 130px;
        height: 130px;
    }
    
    .post-photo {
        padding: 30px 0px;
    }
    
    .post-title-scrolled {
        transform: translateY(-40px);
        opacity: 0;
        transition: .5s all ease;
        font-family: 'Lora', serif!important;
        &.visible {
            transform: translateY(-2px);
            opacity: 1;
        }
    }
    
    .blog-items {
        width: 66.66666%;
        padding: 95px 30px;
        overflow: hidden;
    }
    
    .right-sidebar {
        width: 33.33333%;
        position: fixed;
        top: 25px;
        right: 0px;
        background-color: #fff;
        padding: 1% 2%;
        overflow: scroll;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        min-width: 135px;
        z-index: 105;
    }

    
    // .hero-overlay {
    //     opacity: 1;
    //     height: 100vh;
    //     width: 100vw;
    //     position: absolute;
    //     background: rgba(0, 0, 0, 0.66);
    //     z-index: 3;
    //     transition: all 2.5s ease;
    // }
    #Container .mix {
        display: none;
    }
    
    .mix {
        will-change: transform;
    }