    section.section {
        padding: 8rem 0px;
    }
    
    section.article-section {
        padding: 4rem 0rem;
    }
    
    section.subsection {
        padding-top: 30px 0px;
    }
    
    .masthead.segment {
        min-height: 700px;
        padding: 1em 0em;
    }
    
    .masthead .logo.item img {
        margin-right: 1em;
    }
    
    .masthead .ui.menu .ui.button {
        margin-left: 0.5em;
    }
    
    .masthead h1.ui.header {
        margin-top: 2.3em;
        margin-bottom: 0em;
        font-size: 6em;
        font-weight: normal;
        color: #454553;
    }
    
    .masthead h2 {
        font-size: 2.4em;
        font-weight: 800;
        color: #D8E9F0;
    }
    
    .ui.vertical.stripe {
        padding: 8em 0em;
    }
    
    .ui.vertical.stripe h3 {
        font-size: 2em;
        color: #454553;
    }
    
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
        margin-top: 3em;
    }
    
    .ui.vertical.stripe .floated.image {
        clear: both;
    }
    
    .ui.vertical.stripe p {
        font-size: 1.33em;
    }
    
    .ui.vertical.stripe .horizontal.divider {
        margin: 3em 0em;
    }
    
    .quote.stripe.segment {
        padding: 0em;
    }
    
    .quote.stripe.segment .grid .column {
        padding-top: 5em;
        padding-bottom: 5em;
    }
    
    .footer.segment {
        padding: 5em 0em;
    }
    
    .secondary.pointing.menu .toc.item {
        display: none;
    }
    
    @media only screen and (max-width: 700px) {
        .secondary.pointing.menu .toc.item {
            display: block;
        }
        .masthead.segment {
            min-height: 350px;
        }
        .masthead h1.ui.header {
            font-size: 2em;
            margin-top: 1.5em;
        }
        .masthead h2 {
            margin-top: 0.5em;
            font-size: 1.5em;
        }
    }
    
    #target {
        position: relative;
        top: -41.5vh;
        margin-bottom: -65vh;
        @media (max-width: 1180px) {
            display: none;
        }
        img {
            width: 28px;
        }
    }
    
    .post-title h1.header {
        color: #ffffff;
        font-size: 5rem;
        margin-top: 4em;
        text-transform: capitalize;
        @media (max-width: 980px) {
            font-size: 3rem
        }
        @media (max-width: 680px) {
            font-size: 2rem;
            margin-top: 4rem;
        }
    }
    
    .ui.segment {
        border: none!important;
    }
    
    .ui.horizontal.divider.homepage {
        line-height: 5;
        color: #454553;
    }
    
    .author-image {
        border-radius: 50%;
        padding: 10px;
        width: 130px;
        height: 130px;
    }
    
