.pine-wrap {
    position: relative;
    margin-top: -45vh;
    z-index: -1;
    width: 100%;
}

.forest-bg {
    background-image: url(/images/svg/forest.svg);
    width: 100%;
    background-size: cover;
}

.green-bg {
  background: #496659;
  height: 100%;
}
