.cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    
    width: 90%;
    margin: 0 auto;
    &::after {
        /* clearfix */
        
        content: '';
        display: table;
        clear: both;
    }
}
/* -------------------------------- 
Main components 
-------------------------------- */

#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
    a {
        color: #4AA0D5;
        background: #ffffff;
        padding: 8px;
        border-radius: 3px;
    }
    &::before {
        /* this is the vertical line */
        
        content: '';
        position: absolute;
        top: 0;
        left: 18px;
        height: 95%;
        width: 1px;
        // background: #D2D2D2;
    }
    &.expanded {
        &::before {
            height: 100%;
        }
    }
}

@media only screen and (min-width: 1170px) {
    #cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
        &::before {
            left: 50%;
            margin-left: -2px;
        }
    }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: 3em 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.cd-timeline-img {
    border: 10px solid rgba(235, 88, 111, 0.67);
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    top: 10px;
 
    img {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        margin-left: -12px;
        margin-top: -12px;
    }
    &.cd-picture {
        background: #75ce66;
    }
    &.cd-movie {
        background: #c03b44;
    }
    &.cd-location {
        background: #f0ca45;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
        width: 40px;
        height: 40px;
        left: 50%;
        margin-left: -20px;
        /* Force Hardware Acceleration in WebKit */
        
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
    .cssanimations .cd-timeline-img {
        &.is-hidden {
            visibility: hidden;
        }
        &.bounce-in {
            visibility: visible;
            -webkit-animation: cd-bounce-1 0.6s;
            -moz-animation: cd-bounce-1 0.6s;
            animation: cd-bounce-1 0.6s;
        }
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: white;
    border-radius: 0.25em;
    padding: 0px;
    box-shadow: 0 1px 5px #678F7D;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    h2 {
        color: #404040;
        font-size: 1.3rem;
    }
    .cd-read-more,
    .cd-date {
        display: inline-block;
    }
    p {
        margin: 1em 0;
    }
    .cd-read-more {
        float: right;
        padding: .8em 1em;
        background: #acb7c0;
        color: white;
        border-radius: 0.25em;
    }
}

.no-touch .cd-timeline-content .cd-read-more:hover {
    background-color: #bac4cb;
}

.cd-timeline-content {
    .cd-date {
        float: left;
        padding: .8em 0;
        a {
            color: #4AA0D5;
            font-weight: 800;
            font-size: 1.4rem
        }
        @media only screen and (max-width: 1170px) {
            // padding: 2.8em 0;
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: 16px;
        right: 100%;
        height: 0;
        width: 0;
        border: 7px solid transparent;
        border-right: 7px solid white;
    }
}

@media only screen and (min-width: 768px) {
    .cd-timeline-content {
        .cd-read-more,
        .cd-date {
            font-size: 14px;
        }
    }
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        margin-left: 0;
        padding: 1em;
        width: 45%;
        &::before {
            top: 24px;
            left: 100%;
            border-color: transparent;
            border-left-color: white;
        }
        .cd-read-more {
            float: left;
        }
        .cd-date {
            position: absolute;
            width: 100%;
            left: 108%;
            top: 6px;
            font-size: 16px;
            font-size: 1rem;
        }
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
        &::before {
            top: 24px;
            left: auto;
            right: 100%;
            border-color: transparent;
            border-right-color: white;
        }
        .cd-read-more {
            float: right;
        }
        .cd-date {
            left: auto;
            right: 108%;
            text-align: right;
        }
    }
    .cssanimations .cd-timeline-content {
        &.is-hidden {
            visibility: hidden;
        }
        &.bounce-in {
            visibility: visible;
            -webkit-animation: cd-bounce-2 0.6s;
            -moz-animation: cd-bounce-2 0.6s;
            animation: cd-bounce-2 0.6s;
        }
    }
}

@media only screen and (min-width: 1170px) {
    /* inverse bounce effect on even content blocks */
    
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        -webkit-animation: cd-bounce-2-inverse 0.6s;
        -moz-animation: cd-bounce-2-inverse 0.6s;
        animation: cd-bounce-2-inverse 0.6s;
    }
}

    .blogroll-fetaure-image {
        transform: scale(1);
        transition: all 10.5s ease;
        &:hover {
            transform: scale(1.4);
        }

    }
