---
layout: default
body-class: grey-hero
---
<div class="blog-items">
    <div class="ui two stackable link cards">
        {% for post in site.posts %}
        <div class="card">
            <a class="image" href="{{ post.url }}">
                <img src="{{ post.featured-image }}">
            </a>
            <div class="content">
                <a href="{{ post.url }}" class="header">{{ post.title }}</a>
                <div class="meta">
                    <span class="date">
                     {{ post.date | date: "%b %-d, %Y" }}
                        </span>
                </div>
            </div>
            <div class="extra content">
                <span>
                  <i class="tag icon"></i>{{post.categories}}
                  </span>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
  <div class="right-sidebar">
    <h2>Categories</h2>
        {% for category in site.categories %}
    <h3>{{ category | first }}</h3>
     <div class="ui relaxed list">
      {% for posts in category %}
        {% for post in posts %}
         {% if post.url %}
          <div class="item">
            <div class="content">
              <a class="header" href="{{ post.url }}">{{ post.title }}</a>
              <div class="description">{{ post.date | date: "%b %-d, %Y" }}</div>
            </div>
          </div>  
          {% endif %}
        {% endfor %}
      {% endfor %}
      </div>
  {% endfor %}

  </div>

