---
layout: default 
body-class: gradient
---
<div class="blog-items" id="Container">
    <div class="ui two stackable link cards">
      {% for post in site.posts %}
        <div class="card mix {{post.categories}}">
            <a class="image" href="{{ post.url }}">
                <img src="{{ post.featured-image }}">
            </a>
            <div class="content">
                <a href="{{ post.url }}" class="header">{{ post.title }}</a>
                <div class="meta">
                    <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
                </div>
            </div>
            <div class="extra content">
                <span>
                  <i class="tag icon"></i>
                  {{post.categories}}
                </span>
            </div>
        </div>
      {% endfor %}
    </div>
</div>
<div class="right-sidebar">
  <div class="ui two column grid">
    <div class="column">
      <h2 style="margin: -20px 0px;">Categories</h2>
    </div>
    <div class="column">
    
    </div>
  </div>

<div class="ui fluid accordion">
  {% for category in site.categories %}
    <div class="title">
        <i class="dropdown icon"></i>
        <h3 style="display:inline-block;" class="filter" data-filter=".{{ category | first }}">{{ category | first }}</h3>
    </div>
    <div class="content">
      {% for posts in category %}
        {% for post in posts %}
          {% if post.url %}
          <div class="item">
            <div class="content">
                <a class="header" href="{{ post.url }}">{{ post.title }}</a>
                <div class="description">{{ post.date | date: "%b %-d, %Y" }}</div>
            </div>
          </div>
         {% endif %} 
        {% endfor %}
      {% endfor %}
    </div>
    {% endfor %}
</div>


</div>
<script>
$(document).ready(function(){
$(function() {
    $('.ui.accordion').accordion({
        onClose: function() {
            $('#Container').mixItUp('filter', 'all');
        }
    });

 
});
    $('#Container').mixItUp({

  animation: {
    duration: 330,
    effects: 'fade stagger(34ms) translateZ(880px)',
    easing: 'cubic-bezier(0.25, 0.46, 0.45, 0.94)'
  }

    });
    });
</script>
