---
layout: default 
body-class: gradient
---
<div class="blog-items" id="Container">
    <div class="ui two stackable link cards">
      {% for post in site.posts %}
        <div class="card mix {{post.categories}}">
            <a class="image" href="{{ post.url }}">
                <img src="{{ post.featured-image }}">
            </a>
            <div class="content">
                <a href="{{ post.url }}" class="header">{{ post.title }}</a>
                <div class="meta">
                    <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
                </div>
            </div>
            <div class="extra content">
                <span>
                  <i class="tag icon"></i>
                  {{post.categories}}
                </span>
            </div>
        </div>
      {% endfor %}
    </div>
</div>
<div class="right-sidebar">
  <div class="ui two column grid">
    <div class="column">
      <h2>Categories</h2>
    </div>
    <div class="column">
    
    </div>
  </div>

<div class="ui fluid accordion" id="blog-filter">
  {% for category in site.categories %}
    <div class="title filter" data-filter=".{{ category | first }}">
        <i class="dropdown icon"></i>
        <h3 style="display:inline-block; text-transform: capitalize;">{{ category | first }}</h3>
    </div>
    <div class="content inner">
      {% for posts in category %}
        {% for post in posts %}
          {% if post.url %}
        
                <a class="header" href="{{ post.url }}">{{ post.title }}</a>
                <div class="description">{{ post.date | date: "%b %-d, %Y" }}</div>
         
         {% endif %} 
        {% endfor %}
      {% endfor %}
    </div>
    {% endfor %}
</div>
</div>
<script>
$(document).ready(function() {

    // $('div.title.filter').click(function() {

    //     var resetFilter = function() {
    //         var notClicked = $('.title.filter').not(this);
    //         $('.content.inner').toggleClass('active');
    //     }
    
    // resetFilter();

        

    // });

    $('#blog-filter').accordion({
        exclusive: true,
        collapsible: true,
        onClose: function() {
            $('#blog-filter > .content.inner').removeClass('active');
                $('#blog-filter > .content.inner').addClass('hidden');
            $('#Container').mixItUp('filter', 'all');
             
        }, 
        onOpening: function() {
            $('.content.inner').removeClass('active');
             $('.content.inner').addClass('hidden');
        }

    });



    $('#Container').mixItUp({

        animation: {
            duration: 250,
            effects: 'fade stagger(26ms) translateZ(-520px)',
            easing: 'cubic-bezier(0.39, 0.575, 0.565, 1)'
        }

    });
});
</script>