---
layout: default
---
<div class="ui masthead center aligned segment parallax" data-image="{{ page.featured-image }}" data-cover-ratio=".8" data-height="1300">
    <div class="ui text container">
        <header class="post-title">
          <!--   <h1 class="header text-shadow">{{ page.title }}</h1>
            <h3 class="subheader text-shadow">{{ page.subtitle }}</h1> -->
        </header>
    </div>
</div>
<div class="ui text container">
    <article class="post-content">
        <section class="article-section">
        {{ content }}
        </section>
          {% include social.html %}
    </article>
    <div class="ui section divider"></div>
    <section>
        <div class="ui items">
            <div class="item">
                {% if page.author-image %}
                    <img class="author-image" src="{{ page.author-image}}" />
                {% endif %}
                <div class="content">
                    {% if page.author %}
                    <h4 class="header">{{ page.author}}</h4>
                    {% endif %}
                    <div class="description">
                          {% if page.author-bio %}
                        <p>{{ page.author-bio }}</p>
                          {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="article-section">
    {% if page.comments %}
    {% include disqus.html %}
    {% endif %}
    </section>
</div>
<script>
$(document).ready(function() {
    $(window).scroll(headerParallax);
    function headerParallax() {
        var st = $(window).scrollTop();
        var headerScroll = $('.post-title');
        if (st < 500) {
            headerScroll.css('opacity', 1 - st / 300);
            headerScroll.css({
                '-webkit-transform': 'translateY(' + st / 7 + '%)',
                '-ms-transform': 'translateY(' + st / 7 + '%)',
                transform: 'translateY(' + st / 7 + '%)'
            });
        }
    }
});
</script>
